
<header class="custom-header">
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand" href="#home">Wander & Explore!</a>
            </button>
            <div class="navbar-menu" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="destinations.html">Destinations</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
                <form class="search-bar" role="search">
                    <input class="search-input" type="search" placeholder="Search" aria-label="Search">
                    <button class="search-button" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</header>